.profile {
    margin-top: 20px;
    width: 1024px;
    display: flex;
    height: 100%;
    background-color: #fff;
    font-size: 12px;
    border-top: solid 1px #eff3fa;
    border-right: solid 3px #eff3fa;
    border-bottom: solid 4px #eff3fa;
    border-left: solid 1px #eff3fa;
    border-radius: 10px;
    position: relative;
}
.profile__content {
    display: flex;
    justify-content: center;
    width: 100%;
}
.profile__header-wrapper {
    width: 33%;
    border-radius: 5px;
    border-right: 2px solid #eff3fa;
}
.profile__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profile__header-button {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    img {
        width: 100%;
    }
}
.profile__item_photo {
    width: 180px;
    height: 185px;
    margin: 20px 0 10px;
    position: relative;
    img:last-child {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        bottom: 0;
        border-radius: 50px;
        border: 4px solid #fff;
    }
}
.profile__header-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    span {
        margin-bottom: 7px;
    }
}
.profile__item_english-name {
    text-align: center;
    font-size: 18px;
    width: 250px;
}
.profile__item_russian-name {
    text-align: center;
    font-size: 12px;
    width: 300px;
    color: #bcc3ca;
}
.profile__info {
    border-radius: 5px;
    width: 68%;
}
.profile__info_block {
    width: 80%;
    margin: 15px 0 15px 0;
    h4 {
        border-bottom: 2px solid #eff3fa;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

.profile__info_block-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 30px;
    div {
        display: flex;
    }
    img {
        height: 15px;
        width: 15px;
        margin-right: 15px;
    }
}
.profile__item_information {
    display: flex;
    justify-content: start;
    width: 200px;
    align-items: center;
}
.profile__item_information-position {
    align-items: center;
    background-color: aliceblue;
    height: 30px;
    border-radius: 15px;
    width: 35%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}
.profile__item_information-room {
    align-items: center;
    background-color: aliceblue;
    height: 30px;
    border-radius: 15px;
    width: 65%;
    display: flex;
    justify-content: center;
}
.edit_button {
    align-items: center;
    background-color: #f6f8fe;
    height: 30px;
    border-radius: 6px;
    width: 10%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 15px;
    color: #225fbf;
    cursor: pointer;
}